@keyframes nav-select {
    from{
      font-size: 17px;
    }
    to{
      font-size: 25px;
    }
}
  
  
 @font-face {
    font-family: bold;
    src: url("Font/Bold.ttf");
}

@font-face {
    font-family: normal;
    src: url(Font/Regular.ttf);
}

.topnav {
    background-color: #000000a2;
    position: fixed;
    box-shadow: 15px 15px 15px 15px rgba(0,0,0,.8);
    border-radius: 50px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 50px;
    font-family: normal;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background: -webkit-linear-gradient(#222831, #EEEEEE);
    color: #260801;
    border-radius: 50px;
    font-family: bold;
    animation: nav-select;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background: -webkit-linear-gradient(#4A688C, #DCBCA7);
    color: #260801;
    border-radius: 50px;
    font-family: bold;

}

header {
    width: 100%;
    height: 70px;
    background-color: #000000a2;
    position: fixed;
    box-shadow: 15px 15px 15px 15px rgba(0,0,0,.8); 
}

body {
    background-color: black;
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

button {
	border-radius: 50px;
	border: #00000000;
	font-family: bold;
	padding: 15px;
	font-size: 1.5vw;
	box-shadow: 15px 7px 15px 3px rgba(0,0,0,.8);
	background-color: #000000;
	color: white;
	transition: 250ms; 
}
button:hover {
	transform: scale(1.1);
	background-color: white;
	color: #000000;
}


img {
    border-radius: 130px;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.314); 

}

h1 {
    text-align: center;
    font-family: bold;
    font-size: 100px;
    color: white;
}
h2{
    text-align: center;
    font-family: bold;
    font-size: 64px;
    border: #000000a2;
    color: white;
}
h3{
    text-align: center;
    font-family: normal;
    font-size: 32px;
    color: white;
}

.fullscreen{
    width: 100%;
    height: 100%;
}

.card2 {
    background-color: #000000a2;
    border-radius: 50px;
    width: 85%;
    display: inline-block;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.314); 
}

.card3 {
  background-color: #000000a2;
  border-radius: 50px;
  width: 85%;
  display: inline-block;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.314); 
}

.card3 img{
  border-radius: 30px;
}

.card2 img{
  border-radius: 30px;
}


.imageSlider {
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.sliderTrack {
    display: flex;
    width: calc(1620px * 10);
    animation: scroll 70s linear infinite;
}

.slide {
    height: 500px;
    width: 700px;
    display: flex;
    align-items: center;
    perspective: 100px;
    padding: 15px;
  }
  
  .imageSlider::before,
  .imageSlider::after {
    background: linear-gradient(to right, black 0%, black 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 5;
  }
  
.imageSlider::before {
    left: 0;
    top: 0;
    width: 1px;
}
  
.imageSlider::after {
    right: 0;
    top: 0;
    width: 1px;
}

a {
	color: white;
	font-family: bold;
	transition: transform 250ms; 
}

a {
	text-decoration: none;
}


@keyframes scroll {
    0%{
      transform: translateX(0);
    }
  
    100%{
      transform: translateX(calc(-250px * 17));
    }
}

/* HTML: <div class="loader"></div> */
.loader {
	width: 50px;
	aspect-ratio: 1;
	display: grid;
	border-radius: 50%;
	background:
	linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
	linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
	background-repeat: no-repeat;
	animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
	content: "";
	grid-area: 1/1;
	border-radius: 50%;
	background: inherit;
	opacity: 0.915;
	transform: rotate(30deg);
}
.loader::after {
	opacity: 0.83;
	transform: rotate(60deg);
}
@keyframes l23 {
	100% {transform: rotate(1turn)}
}
.bold {
	font-weight: bold;
	font-family: Bold;
}

@media only screen and (max-width: 768px) {
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 50px;
    font-family: normal;
    
  }

  .card2 {
    background-color: #000000a2;
    border-radius: 50px;
    width: 99%;
    display: inline-block;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.314); 
  }

  .card3 {
    background-color: #000000a2;
    border-radius: 50px;
    width: 99%;
    display: inline-block;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.314); 
  }


  h1 {
    font-size: 55px;
  }

  h2{
    font-size: 30px;
  }
  h3{
    font-size: 20px;
  }



	button {
		border-radius: 50px;
		border: #00000000;
		font-family: bold;
		padding: 15px;
		font-size: 4vw;
		box-shadow: 15px 7px 15px 3px rgba(0,0,0,.8);
		background-color: #000000;
		color: white;
		transition: 250ms; 
	}


}